body {
    text-align: center;
    font-size: 40px;
    color: white ;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    background-color: lightgrey

  }
  #button {
      font-size: 80px;
      background-color:  skyblue;
      color: lightpink;


  }